USE [master]
GO
/****** Object:  Database [D:\PROJECTS\FASHIONMERCHANDISE\FASHIONMERCHANDISE\APP_DATA\FASHIONDB.MDF]    Script Date: 12-05-2024 02:17:44 PM ******/
CREATE DATABASE [D:\PROJECTS\FASHIONMERCHANDISE\FASHIONMERCHANDISE\APP_DATA\FASHIONDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FashionDb', FILENAME = N'D:\Projects\FashionMerchandise\FashionMerchandise\App_Data\FashionDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FashionDb_log', FILENAME = N'D:\Projects\FashionMerchandise\FashionMerchandise\App_Data\FashionDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D:\PROJECTS\FASHIONMERCHANDISE\FASHIONMERCHANDISE\APP_DATA\FASHIONDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [D:\PROJECTS\FASHIONMERCHANDISE\FASHIONMERCHANDISE\APP_DATA\FASHIONDB.MDF]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12-05-2024 02:17:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NULL,
	[Image] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductName], [Price], [Image], [Description]) VALUES (1, N'Jivika Petite', CAST(100.00 AS Decimal(18, 2)), N'images/img1.png', N'Jivika Petite Kurtis

Fabric Poly Crepe')
INSERT [dbo].[Products] ([Id], [ProductName], [Price], [Image], [Description]) VALUES (2, N'Anarkali Crep', CAST(200.00 AS Decimal(18, 2)), N'images/img2.png', N'Women''s Printed Crepe Anarkali Kurti')
INSERT [dbo].[Products] ([Id], [ProductName], [Price], [Image], [Description]) VALUES (3, N'Trendy Combo Tshirt', CAST(300.00 AS Decimal(18, 2)), N'images/img3.png', N'Cotton Blend Casual Wear Striped T-shirts')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
USE [master]
GO
